*.bak
.vs
*.suo
*.pdb
_ReSharper.*/
*.ReSharper.user
*.csproj.user
*.pssproj.user

/*/src/*/bin/
/*/src/*/obj/
/src/**/bin/
/src/**/obj/

*.orig

*.dotCover
*.DotSettings.user 
packages/*
!packages/repositories.config
*.sln.DotSettings.user
*.pubxml.user
chat/src/cert/*.pfx
chat/src/cert/*.pvk
chat/src/cert/*.cer
/.vs/config/applicationhost.config
msbuild.log
src/web/*/.idea/
/src/web/*/.idea/*
**/bower_components/*
**/node_modules/*
/src/web/com.o2bionics.chat.app/st/tsjs/**
/.vs/*
/deploy/obj/*
/deploy/bin/*
/src/web/com.o2bionics.chat.app/package-lock.json
/src/web/com.o2bionics.chat.app/npm-debug.log
