<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="redirect to www" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <action type="Redirect" url="https://www.chat.o2bionics.com" appendQueryString="true"
                  redirectType="Temporary" />
          <conditions>
            <add input="{URL}" pattern="^/$" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>