@{
    ViewBag.Title = "Your password reset email has been sent!";
}

<div class="widget-content panel-body">
        <p>
            We have sent a password reset email to your email address: <b>@ViewBag.Email</b>
        </p>
        <p>Please check your inbox to continue.</p>
        <div class="clearfix"></div>
</div>
<div class="widget-foot">
    <div class="horizontal-links">
        <i class="material-icons">&#xE897;</i> @Html.ActionLink("Log in", "Login")
        | <i class="material-icons">&#xE0DA;</i> @Html.ActionLink("Resend Email", "ForgotPassword")
    </div>
</div>