@{
    ViewBag.Title = "Your password change complete!";
}

<div class="widget-content panel-body">
        <p>Your password has been changed. Please @Html.ActionLink("click here to log in", "Login", "Account", new { @class = "text-warning" }).</p>
        <div class="clearfix"></div>
</div>