@{
    ViewBag.Title = "About Information";
}

       <!--Banner Area Start-->
        <div class="banner-area banner-blue banner-area_inner-page" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                        <div class="banner-text">
                            <div class="banner-table-cell">
                                <h1>ABOUT <span>TikiFox</span></h1>
                                <p>TikiFox is an online customer service software that allows you to immediately <br>
                            help and chat with your website visitors, turning them into long lasting customers. <br> Instead of waiting for email responses and having a conversation with one person on the phone at a time, TikiFox allows you to communicate with multiple visitors and customers at once.</p>
                                
                            </div>
                        </div>                       
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-4 hidden-xs">                        
                    </div>
                </div>
            </div>
        </div>
        <!--End of Banner Area-->
        <!--About Area Start-->
        <div class="about-list about-blue">
            <div class="container">         
                <div class="row">                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="about-list_item">
                            <h2>OUR <span>GOAL </span></h2>
                           <p>At TikiFox, our goal is to help companies have more and better conversations with their visitors, customers, and employees. TikiFox will improve website visitor communication and engagement with your company. </p>
                        </div>
                        <div class="about-list_item">
                            <h2>WHY <span>TikiFox</span></h2>
                            <p>TikiFox stands out because of our advanced features that only a few premium services offer. Companies, no matter the size, can afford to improve communication experience of your customers, and improve intracompany communication for better business efficiency. Tikifox can be easily integrated and customized to match the look and feel of any website. </p>                           
                        </div>
                    </div>
                    <div class="col-lg-6  col-md-6  col-sm-6 ">
                        <div class="about-image " >
                            <img src="i/banner/about1.jpg" alt="" class="floatright">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of About Area-->
       
                
        <!--Testimonial Area Start-->
        <div class="team-area testimonial-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center title-blue">
                            <h1>Our<span>Team</span></h1>
                            <img src="i/icon/title-icon-blue.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                <div class="testimonial-image-slider text-center">
                                    <div class="sin-testiImage">
                                        <img src="i/testimonial/1.png" alt="testimonial 1" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="i/testimonial/2.png" alt="testimonial 2" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="i/testimonial/3.png" alt="testimonial 3" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="i/testimonial/1.png" alt="testimonial 1" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="i/testimonial/2.png" alt="testimonial 2" />
                                    </div>
                                    <div class="sin-testiImage">
                                        <img src="i/testimonial/3.png" alt="testimonial 3" />
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="testimonial-text-slider text-center">
                            <div class="sin-testiText">
                                <h2>M S Nawaz </h2>                                
                                <p>There are many variations of passages of Lorem Ipsum available.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>Chowchilla Madera</h2>                               
                                <p>Nam nec tellus a odio tincidunt This lorem is Photoshop's version.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>Kattie Luis</h2>                               
                                <p>Nam nec tellus a odio tincidunt This is Photoshop's version.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>M S Nawaz </h2>                                
                                <p>There are many variations of passages of Lorem Ipsum available.</p>
                            </div>
                            <div class="sin-testiText">
                                <h2>Chowchilla Madera</h2>                                
                                <p>Nam nec tellus a odio tincidunt This is Photoshop's </p>
                            </div>
                            <div class="sin-testiText">
                                <h2>Kattie Luis</h2>                               
                                <p>Nam nec tellus a odio tincidunt This is Photoshop's version  </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <!--End of Testimonial Area-->  
       
        
      
   

      