@using Com.O2Bionics.Utils.Web.StaticFile
@{
    ViewBag.Title = "Features";
}
      <!--Banner Area Start-->
        <div class="banner-area banner-blue banner-area_inner-page" id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
                        <div class="banner-text">
                            <div class="banner-table-cell">
                                <h1>AWESOME <span>Features</span></h1>
                                <p>Take a look at some of the distinctive features below!</p>                               
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-4 hidden-xs">                        
                    </div>
                </div>
            </div>
        </div>
        <!--End of Banner Area--> 
        <div class="features">
            <div class="container">         
                <div class="row"> 
                    <div class="col-lg-6  col-md-6  col-sm-6 ">
                        <div class="about-image " >
                            <img src="i/banner/about1.jpg" alt="" class="floatright">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                      
                            <h2>Easy Setup</h2>
                            <ul class="features-list">
                                <li>Easy Installation</li>
                                <li>Quickly create an account</li>
                                <li>Setup your Departments and Chat Agents</li>
                                <li>Copy the HTML code to all of your page on your website</li>
                                
                            </ul>
                        <span class="features-list_show-btn">Show More</span>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                      
                            <h2>Advanced Communication System</h2>
                            <ul class="features-list">
                                <li>Can see visitor Information (name, email, local time, browser and OS, page history)
								<li>Can Add Multiple Agents
								<li>Agent can chat with multiple visitors at once</li>
								<li>Can upload and download files directly from the chat window</li>
								<li>Can have voice and video calls</li>
								<li>Agent to Agent chat options</li>
                            </ul> 
                        <span class="features-list_show-btn">Show More</span>
                  
                    </div>
                    <div class="col-lg-6  col-md-6  col-sm-6 ">
                        <div class="about-image " >
                            <img src="i/banner/about1.jpg" alt="" class="floatright">
                        </div>
                    </div>
 
                </div>
                <div class="row"> 
                    <div class="col-lg-6  col-md-6  col-sm-6 ">
                        <div class="about-image " >
                            <img src="i/banner/about1.jpg" alt="" class="floatright">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">                      
                            <h2>Unique, Modern, and Customizable System</h2>
                            <ul class="features-list">
                               <li>Completely Customizable Chat Window with many pre-made styles to fit your style</li>
								<li>Can change agent's profile picture and avatar</li>
								<li>Some pricing options allow you to remove all TikiFox labels</li>
								<li>Chat Window can be moved by the visitor</li>
								<li>You can assign agents to be supervisors and administrators along with normal agents. Supervisors have the option to see all of the agents’ chats within their department. Administrators have almost all of the rights of the chat service. </li>
								<li>You have the option to assign agents to specific departments within your company, for examples Sales and Support. The visitor will have the option to talk to an agent from a specific Department of which they chose.</li>
								
                            </ul> 
                        <span class="features-list_show-btn">Show More</span>                  
                    </div>
                </div>
				
				<div class="row">
                    <div class="col-lg-6  col-md-6  col-sm-6 ">
                        <div class="about-image " >
                            <img src="i/banner/about1.jpg" alt="" class="floatright">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="">
                            <h2>Chat History <span></span></h2>
                            <ul style="list-style-type: circle">
								<li>Store previous chat sessions for a long time</li>
								<li>Access previous chat sessions for reference if needed</li>								
							</ul>							
						</div>
                    </div>
                </div>
            </div>
        </div>

   