@using Com.Customer.Web
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Customer site test page</title>
</head>
<body>
<div>
    <h1>Header</h1>
    <p>
        <a href="index.cshtml">index</a>
        <a href="index-1.cshtml">index1</a>
        <a href="index-2.cshtml">index2</a>
    </p>
    <p>
        <input type="button" value="Add error to Elastic"
               onclick="window.O2Bionics.postError(new Error('Index error test'), 'file index.');"/>
    </p>
    <p><a href="https://app.chat.o2bionics.com/Test/TestWcf" target="_blank">Workspace WCF test</a></p>
    <p><a href="https://app.chat.o2bionics.com/Test/TestAction/" target="_blank">Workspace controller test</a></p>
    <p><a href="https://c.chat.o2bionics.com/Test/TestWcf?cid=10&vid=20" target="_blank">Widget handler test</a></p>
    <p><a href="https://tr.chat.o2bionics.com/Test?cid=100&vid=200" target="_blank">TRacker test (returns 500)</a></p>
    <p><a href="http://fs.chat.o2bionics.com/Test?cid=1000&vid=2000" target="_blank">Feature Service test (returns 500)</a></p>
    <p>
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
    </p>
    <p>
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
    </p>
    <p>
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
    </p>
    <p>
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
    </p>
    <p>
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
    </p>
    <p>
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
        Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf. Some text adsf.
    </p>
</div>

<script type="text/javascript">
    (function (w, d, u, f, s, ps)
    {
        w[f] = w[f] || function () { (w[f].p = w[f].p || []).push(arguments[0]); };
        s = d.createElement('script');
        s.id = 'com-o2bionics-webchat-script';
        s.async = 1;
        s.type = 'text/javascript';
        s.src = u;
        ps = d.getElementsByTagName('script')[0];
        ps.parentNode.insertBefore(s, ps);
    })(window, document, 'https://c.chat.o2bionics.com/bootchat.js', 'O2WebChat');

    O2WebChat({ cid: @DefaultCustomer.Id, visitorExternalId: null, customText: 'some custom text, 1, 2' });
</script>
</body>
</html>